<div class="container">

  <h2>Add a New Beer!</h2>

  <div class="form">
    <%= form_for @beer do |f| %>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />

      <%= f.label :abv %><br />
      <%= f.text_field :abv %><br />

      <%= f.label :style %><br />
      <%= f.text_field :style %><br />

      <%= f.label :brewery %><br />
      <%= f.text_field :brewery %><br />

      <%= f.submit "Add Beer" %>
    <% end %>
  </div>
</div>
