<div class="container">
  <h2><%= @beer.name %></h2>

  <div class="beer-view">
    <img src="http://placehold.it/200x200" />
    <div class="beer-stats">
      <h4>Stats:</h4>
      <p class="label">Style: <%= @beer.style %></p>
      <p class="label">ABV: <%= @beer.abv %></p>
      <p class="label">IBU: <%= @beer.ibu %></p>
      <p class="label">Brewery: <%= @beer.brewery %></p>
      <p class="label">Location: <%= @beer.location %></p>
    </div>
  </div>
  <div class="reviews">
    <h2>Reviews:</h2>
  </div>


</div>
