<div class="container">
  <h2><%= @beer.name %> <span class="edit"><%= link_to("(edit beer info)", edit_beer_path) if @current_user %></span></h2>
  <% if @current_user %>
    <% if !@current_user.beers.include?(@beer) %>
      <%= link_to("Add to my pub", add_user_beer_path(@beer), method: :add_beer) if @current_user %>
    <% end %>
    <% end %>
    <div class="beer-show-container">

  <div class="beer-show">
    <%= image_tag(@beer.img_url, alt: @beer.name, size: "200x200") %>
    <div class="beer-stats">
      <p class="label">Style: <%= @beer.style %></p>
      <p class="label">ABV: <%= @beer.abv %></p>
      <p class="label">IBU: <%= @beer.ibu %></p>
      <p class="label">Brewery: <%= @beer.brewery %></p>
      <p class="label">Location: <%= @beer.location %></p>
    </div>
  </div>
</div>
  <%= link_to("Add Review", new_beer_review_path([@beer, @review])) if @current_user %>
  <div class="reviews">
    <h2>Reviews:</h2>
    <% @beer.reviews.reverse_each do |review| %>
    <div class="review-body">
      <h3><%= review.user.username %></h3>
      <p><%= review.body %></p>
      <%= link_to("(edit)", edit_beer_review_path(review.beer.id, review.id)) if @current_user == review.user %>
    </div>
    <% end %>
  </div>


</div>
