<div class="container">
  <h2><%= @beer.name %><%= link_to("Edit Beer Info", edit_beer_path) if @current_user %></h2>
  <%= button_to("Delete Beer", @beer, method: :delete) if @current_user %>

  <div class="beer-show">
    <img src="http://placehold.it/200x200" />
    <div class="beer-stats">
      <h4>Stats:</h4>
      <p class="label">Style: <%= @beer.style %></p>
      <p class="label">ABV: <%= @beer.abv %></p>
      <p class="label">IBU: <%= @beer.ibu %></p>
      <p class="label">Brewery: <%= @beer.brewery %></p>
      <p class="label">Location: <%= @beer.location %></p>
    </div>
  </div>
  <div class="reviews">
    <h2>Reviews:</h2>
  </div>


</div>
