

<div class="container">
  <h2><%= @beer.name %></h2>

  <%= image_tag("http://placehold.it/200x200", :alt => "@beer.name") %>
  <div class="form">
    <%= form_for [@beer, @review] do |f| %>
      <%= f.label :body, "Review:" %><br />
      <%= f.text_area :body %><br />

      <%= f.submit "Add Review" %>
    <% end %>
  </div>
</div>
