<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1>HOPSTER</h1>
    <%= image_tag("http://placehold.it/100x100", :alt => "logo") %>
  </nav>
  <% if @current_user %>
    <%= link_to "#{@current_user.username}", user_path(@current_user) %>
    <%= link_to "Sign out", session_path, method: :delete %>
  <% end %>

  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%= message %></p>
  <% end %>

  <%= yield %>

</body>
</html>
